<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SHINNOSUKE PRACTICE</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">SHINNOSUKE PRACTICE</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>ひとことメモ 編集</h1>
      </div>
      <div class="memo-form-wrapper">
        <p class="form-label-edit">タグ</p>
  
        <% if (memo.favorite == 1) { %>
              <i class="far fa-flag"></i>
        <% } else if (memo.favorite == 2) { %>
              <i class="far fa-star"></i>
        <% } %>

        <form action="/update/<%= memo.id %>" method="post">
          <select name="MemosFavo" class="tag-label">
            <option value="0">なし</option>
            <option value="1" font-weight=400> &#xf024; </option>
            <option value="2" font-weight=400> &#xf005; </option>
          </select></br>
          <p class="form-label">メモ</p>
        
          <input type="text" name="memoText" value="<%= memo.memo %>">
          <input type="submit" value="更新する">
        </form>
      </div>
      <a href="/index" class="cancel-button">もどる</a>
    </div>
  </body>
</html>