<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SHINNOSUKE PRACTICE</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

    <div class="top-detail">
      <h2 class="subtitle">WEBアプリ開発の練習</h2>
      <h1 class="title">ひとことメモ APP</h1>
      <p class="description">
        私、飯野信之介はWEBアプリ開発の練習として、「ひとことメモ APP」を作成しました。
        <br>
        使用した言語、フレームワーク、データベース：<span style="border-bottom: solid 1px rgb(66, 226, 191);">HTML/CSS, Express(Node.js), MySQL</span>
        <br>
        現在は、React.jsを用いたフロントエンド開発を勉強しています。
      </p>
      <a href="/index" class="index-button">ひとことメモを見る</a>
    </div>

  </body>

</html>
