/* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

body {
  margin: 0;
  background-color: #f6faff;
  color: #6c7686;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-weight: 600;
}

input {
  font-family: inherit;
  font-size: 100%;
}

a {
  display: block;
  color: #2d3133;
  font-size: 14px;
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease;
}

span {
  display: inline-block;
}



/*-------- header ---------*/
header {
  height: 56px;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f4f9;
}

.header-logo {
  margin-left: 56px;
  font-weight: 600;
  font-size: 20px;
  line-height: 56px;
  color: #6c7686;
  display: inline;
}

.header-logo:hover {
  color: #58d2b2;
}

/*-------- .container ---------*/
.container {
  width: 80%;
  min-width: 360px;
  max-width: 720px;
  margin: 0 auto;
  margin-top: 56px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.new-button {
  color: #6c7686;
  font-weight: 550;
  font-size: 20px;
}

.new-button:hover {
  color: #58d2b2;
}

/*--------- table ---------*/
.table-top {
  display: flex;
  background-color: #b7cadc;
  border-radius: 2px 2px 0 0;
  height: 44px;
  font-size: 16px;
  line-height: 46px;
  color: #ffffff;
}

.table-top a {
  width: 100px;
  text-align: center;
  color: white;
}

.table-top span {
  padding-left: 8px;
  color: white;
}

.table-top a:hover {
  color: #FFFF66;
}

.memo-data {
  height: 40px;
  border: 1px solid #b7cadc;
  padding: 10px 0;
  font-size: 15px;
}

.favo-column {
  width: 100px;
  text-align: center;
  display:inline-block;
}
